<a href="/users" data-users>
  <li>
    <div>
      <i class="fa-solid fa-users"></i>
    </div>
    manage users
  </li>
</a>
<a href="/tickets" data-tickets>
  <li>
    <div>
      <i class="fa-solid fa-ticket"></i>
    </div>
    manage tickets
  </li>
</a>
