<div class="container">
  <aside class="side-nav">
    <div class="spacer"></div>
    <div class="profile-container">
      <div class="image-container">
        <img src="/images/<%=role.toLowerCase()%>.png" alt="user icon" />
      </div>
      <div class="text-container">
        <p><%= username %></p>
        <p><%= role.toUpperCase() %></p>
      </div>
    </div>
    <div class="spacer-lg"></div>
    <ul class="links">
      <a href="/" data-home>
        <li>
          <div>
            <i class="fa-solid fa-house"></i>
          </div>
          dashboard
        </li>
      </a>
      <div>
        <h6>management</h6>
        <a href="/users" data-users>
          <li>
            <div>
              <i class="fa-solid fa-users"></i>
            </div>
            manage users
          </li>
        </a>
        <a href="/projects" data-projects>
          <li>
            <div>
              <i class="fa-solid fa-desktop"></i>
            </div>
            manage projects
          </li>
        </a>
        <a href="/tickets" data-tickets>
          <li>
            <div>
              <i class="fa-solid fa-ticket"></i>
            </div>
            manage tickets
          </li>
        </a>
      </div>
      <div>
        <h6>my work</h6>
        <a href="/projects" data-my-projects>
          <li>
            <div>
              <i class="fa-solid fa-code"></i>
            </div>
            my projects
          </li>
        </a>
        <a href="/tickets" data-my-tickets>
          <li>
            <div>
              <i class="fa-solid fa-receipt"></i>
            </div>
            my tickets
          </li>
        </a>
      </div>
      <div>
        <a href="/settings" data-settings>
          <li>
            <div>
              <i class="fa-solid fa-gear"></i>
            </div>
            settings
          </li>
        </a>
        <form action="/api/logout?_method=DELETE" method="POST">
          <button type="submit">Log Out</button>
        </form>
      </div>
    </ul>
  </aside>
  <script>
    {
      const element = document.querySelector(`[data-${"<%= dataAttribute %>"}`);

      if (element) element.classList.add("selected");
    }
  </script>

  <main>
