<% if(role.toUpperCase() === USER_ROLE.ADMIN || role.toUpperCase() ===
USER_ROLE.MANAGER) { %>
<div>
  <h6>management</h6>
  <% if(role.toUpperCase() === "ADMIN") { %> <%-
  include("admin-dashboard-options") %> <% } %>
  <a href="/manage-projects" data-manage-projects>
    <li>
      <div>
        <i class="fa-solid fa-desktop"></i>
      </div>
      manage projects
    </li>
  </a>
  <a href="/manage-tickets" data-manage-tickets>
    <li>
      <div>
        <i class="fa-solid fa-ticket"></i>
      </div>
      manage tickets
    </li>
  </a>
</div>
<% } %>
