<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <%- include("partials/dashboard-layout-start", { username, role,
    dataAttribute:"home" }) %>
    <div>text</div>
    <%-include("partials/dashboard-layout-end") %>
  </body>
</html>
