<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="styles/dashboard.css" />
  </head>
  <body>
    <%- include("partials/dashboard-layout-start", { username, role,
    dataAttribute:"home" }) %>
    <div>text</div>
    <%-include("partials/dashboard-layout-end") %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.min.js"
      integrity="sha512-MC1YbhseV2uYKljGJb7icPOjzF2k6mihfApPyPhEAo3NsLUW0bpgtL4xYWK1B+1OuSrUkfOTfhxrRKCz/Jp3rQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script defer></script>
  </body>
</html>
