<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/styles/auth.css" />
  </head>
  <body>
    <main>
      <form action="/register" method="POST">
        <h1>
          <i class="fa-solid fa-bug"></i>
          <span>Bug Tracker</span>
        </h1>
        <div data-input="1"></div>
        <div data-input="2"></div>
        <div data-input="3"></div>
        <div data-input="4"></div>
        <button type="submit">Register</button>
      </form>
    </main>
    <script src="/scripts/animatedLabel.js"></script>
    <script>
      const error = "<% if (messages.error) { %><%= messages.error%><% } %>";
      const email = "<% if (messages.email) { %><%= messages.email%><% } %>";
      const username =
        "<% if (messages.username) { %><%= messages.username %><% } %>";

      createAnimatedInput({
        input: 1,
        id: "email",
        label: "email",
        type: "email",
        icon: "fa-solid fa-envelope",
        error: error == "email",
        errorText: "There is an user already registered with the given email",
        initialValue: email
      });
      createAnimatedInput({
        input: 2,
        id: "username",
        label: "username",
        type: "text",
        icon: "fa-solid fa-user",
        initialValue: username
      });
      createAnimatedInput({
        input: 3,
        id: "password",
        label: "password",
        type: "password",
        icon: "fa-solid fa-lock",
        error: error == "passwords",
        errorText: "Password don't match"
      });
      createAnimatedInput({
        input: 4,
        id: "passwordConfirm",
        label: "confirm password",
        type: "password",
        icon: "fa-solid fa-lock",
        error: error == "passwords",
        errorText: "Password don't match"
      });
    </script>
  </body>
</html>
