<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/styles/submit-form.css" />
    <link rel="stylesheet" href="/styles/utils/animated-label-input.css" />
    <script src="/scripts/animatedLabel.js"></script>
  </head>
  <body>
    <main>
      <h1>
        <i class="fa-solid fa-code"></i>
        <span>Create a Project</span>
      </h1>
      <div>
        <div class="animated-label-input" data-input="1"></div>
        <div>
          <p class="description">Description</p>
          <textarea name="description" id="description" rows="15"></textarea>
        </div>
        <button onclick="sendProject()">Submit Project</button>
      </div>
    </main>
  </body>
  <script>
    createAnimatedInput({
      input: 1,
      id: "name",
      label: "name",
      type: "text",
      icon: "fa-solid fa-heading",
      error: false,
      errorText: "",
      initialValue: ""
    });

    function sendProject() {
      const name = document.getElementById("name").value;
      const description = document.getElementById("description").value;

      fetch("/submit-project", {
        method: "POST",
        body: JSON.stringify({ name, description }),
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(res => {
          console.log(res);

          if (!res.ok) {
            if (res.status === 400) {
              res.text().then(data => alert(data));
              return;
            }

            throw new Error("HTTP error " + res.status);
          }

          location.href = res.url;
        })
        .catch(err => console.log(err));
    }
  </script>
</html>
