<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/styles/utils/animated-label-input.css" />
    <link rel="stylesheet" href="/styles/utils/select.css" />
    <link rel="stylesheet" href="/styles/utils/projects.css" />
    <script src="/scripts/animatedLabel.js"></script>
    <script src="/scripts/select.js"></script>
  </head>
  <body>
    <form action="/submit-ticket" method="POST">
      <h1>
        <i class="fa-solid fa-ticket"></i>
        <span>Create a Ticket</span>
      </h1>
      <div class="animated-label-input" data-input="1"></div>
      <div class="animated-label-input" data-input="1"></div>
      <textarea name="description" id="description" rows="15"></textarea>
    </form>
  </body>
  <script>
    //   createAnimatedInput({
    //       input: 1,
    //       id: "email",
    //       label: "email",
    //       type: "email",
    //       icon: "fa-solid fa-envelope",
    //       error: error == "email",
    //       errorText: "There is an user already registered with the given email",
    //       initialValue: email
    //     });
  </script>
</html>
