.projects {
  margin: 0 1rem;
}

.projects ul {
  margin: 0;
}

.project {
  margin: 1.5rem 0;
  background-color: var(--secondary-bg);
  border-radius: 15px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 0.5rem;
}

.project a {
  border-bottom: 2px solid black;
}
