.main {
  max-height: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  margin: 0 1rem;
}

.main > div {
  overflow: auto;
}

.projects {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.projects h1 {
  width: fit-content;
  padding: 1.25rem;
  margin: 2rem auto;
  background-color: var(--secondary-bg);
  border-radius: 20px;
  font-weight: 600;
}

.projects ul {
  list-style-type: none;
  margin: 0;
}

.projects li {
  margin: 1.5rem 0;
  background-color: var(--secondary-bg);
  border-radius: 15px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  row-gap: 0.5rem;
}

.projects li a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.projects li a:hover {
  font-style: italic;
}

.projects li a:hover::after {
  content: "↗";
}

.charts {
  max-height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.charts div {
  --padding: 1.5rem;

  height: calc(50% - var(--padding));
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-bg);
  border-radius: 20px;
}
